<h2 id="day" class="center">

    <%= link_to "<i class='glyphicon glyphicon-arrow-left'></i>".html_safe, 
                     {:day => (@day-1).strftime("%Y-%m-%d")},
                     {:title => t('day_title.previous_day') } %>

    <% trans_month = @day.strftime("%B")%>
    <%=h( (l @day, format: :day).capitalize) %>
    
    <%= link_to "<i class='glyphicon glyphicon-arrow-right'></i>".html_safe,
                      {:day => (@day+1).strftime("%Y-%m-%d")}, 
                      {:title => t('day_title.next_day')} %>
</h2>