  <h2 id="month">
    
    <%= link_to "<i class='glyphicon glyphicon-arrow-left'></i>".html_safe, 
                     {:month => (@date.beginning_of_month-1).strftime("%Y-%m-%d")},
                     {:title => t('calendar_title.previous_month') } %>

    <% trans_month = @date.strftime("%B")%>
    <%=h( t('month.'+@date.strftime("%B")) + ' ' + @date.strftime("%Y")) %>
    
    <%= link_to "<i class='glyphicon glyphicon-arrow-right'></i>".html_safe,
                      {:month => (@date.end_of_month+1).strftime("%Y-%m-%d")}, 
                      {:title => t('calendar_title.next_month')} %>

  </h2>